.btn-red {

    background: #300000;
    color: white;
    margin-right: 5px;
    border-radius: 4px;
    margin-top:30px;
    border:solid 3px;
    padding: 13px 16px; 
    border-color: white;
    font-weight: bold;
    font-size: 18px;

}

.btn-red:hover {

    background:#4f0000;
    transition: background 0.4s ease;

}